.container {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.collapse {
    width: 100%;
}

a {
    position: relative;
    font-size: 1.4rem;
}

/* a {
    width: 90%;
}

.navbar {
    height: 3.5rem;
    padding: 0;
}

.collapse {
    position: absolute;
    margin-left: 1%;
}

.navbar-nav {
    white-space: nowrap;
}

.reset_button {
    position: relative;
} */