/* .chessboard {
    width: 680px;
    height: 680px;
    top: 45%;
    left: 50%;
    margin-top: -340px;
    margin-left: -340px;
    border: 20px solid #333;
    display: block;
    position: absolute;
} */

.chessboard {
    border: 1.4vw solid #333;
    text-align: center;
    width: 35vw;
    height: 35vw;
    margin: auto;
    margin-top: 2%;
}

.chessboard div {
    display: inline;
    text-align: center;
    text-shadow: 2px 1px white;
    font-size: 2.6vmax;
    /* font-size: 50px; */
}

.white {
    width: 12.5%;
    height: 12.5%;
    float: left;
    background-color: #fff;
    vertical-align: middle;
}

.black {
    width: 12.5%;
    height: 12.5%;
    float: left;
    background-color: #000;
    vertical-align: middle;
}

.play_button {
    position: absolute;
    top: 83%;
    left: 47.5%;
    /* margin-top: -30px;
    margin-left: -75px; */
    background-color: #333;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    /* font-size: 16px; */
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.play_button:hover {opacity: 1;}