{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/home.css" />
<div class="chessboard">
    <div class="white">{{ chess_board[0][0] }}</div>
    <div class="black">{{ chess_board[0][1] }}</div>
    <div class="white">{{ chess_board[0][2] }}</div>
    <div class="black">{{ chess_board[0][3] }}</div>
    <div class="white">{{ chess_board[0][4] }}</div>
    <div class="black">{{ chess_board[0][5] }}</div>
    <div class="white">{{ chess_board[0][6] }}</div>
    <div class="black">{{ chess_board[0][7] }}</div>

    <div class="black">{{ chess_board[1][0] }}</div>
    <div class="white">{{ chess_board[1][1] }}</div>
    <div class="black">{{ chess_board[1][2] }}</div>
    <div class="white">{{ chess_board[1][3] }}</div>
    <div class="black">{{ chess_board[1][4] }}</div>
    <div class="white">{{ chess_board[1][5] }}</div>
    <div class="black">{{ chess_board[1][6] }}</div>
    <div class="white">{{ chess_board[1][7] }}</div>

    <div class="white">{{ chess_board[2][0] }}</div>
    <div class="black">{{ chess_board[2][1] }}</div>
    <div class="white">{{ chess_board[2][2] }}</div>
    <div class="black">{{ chess_board[2][3] }}</div>
    <div class="white">{{ chess_board[2][4] }}</div>
    <div class="black">{{ chess_board[2][5] }}</div>
    <div class="white">{{ chess_board[2][6] }}</div>
    <div class="black">{{ chess_board[2][7] }}</div>

    <div class="black">{{ chess_board[3][0] }}</div>
    <div class="white">{{ chess_board[3][1] }}</div>
    <div class="black">{{ chess_board[3][2] }}</div>
    <div class="white">{{ chess_board[3][3] }}</div>
    <div class="black">{{ chess_board[3][4] }}</div>
    <div class="white">{{ chess_board[3][5] }}</div>
    <div class="black">{{ chess_board[3][6] }}</div>
    <div class="white">{{ chess_board[3][7] }}</div>

    <div class="white">{{ chess_board[4][0] }}</div>
    <div class="black">{{ chess_board[4][1] }}</div>
    <div class="white">{{ chess_board[4][2] }}</div>
    <div class="black">{{ chess_board[4][3] }}</div>
    <div class="white">{{ chess_board[4][4] }}</div>
    <div class="black">{{ chess_board[4][5] }}</div>
    <div class="white">{{ chess_board[4][6] }}</div>
    <div class="black">{{ chess_board[4][7] }}</div>

    <div class="black">{{ chess_board[5][0] }}</div>
    <div class="white">{{ chess_board[5][1] }}</div>
    <div class="black">{{ chess_board[5][2] }}</div>
    <div class="white">{{ chess_board[5][3] }}</div>
    <div class="black">{{ chess_board[5][4] }}</div>
    <div class="white">{{ chess_board[5][5] }}</div>
    <div class="black">{{ chess_board[5][6] }}</div>
    <div class="white">{{ chess_board[5][7] }}</div>

    <div class="white">{{ chess_board[6][0] }}</div>
    <div class="black">{{ chess_board[6][1] }}</div>
    <div class="white">{{ chess_board[6][2] }}</div>
    <div class="black">{{ chess_board[6][3] }}</div>
    <div class="white">{{ chess_board[6][4] }}</div>
    <div class="black">{{ chess_board[6][5] }}</div>
    <div class="white">{{ chess_board[6][6] }}</div>
    <div class="black">{{ chess_board[6][7] }}</div>

    <div class="black">{{ chess_board[7][0] }}</div>
    <div class="white">{{ chess_board[7][1] }}</div>
    <div class="black">{{ chess_board[7][2] }}</div>
    <div class="white">{{ chess_board[7][3] }}</div>
    <div class="black">{{ chess_board[7][4] }}</div>
    <div class="white">{{ chess_board[7][5] }}</div>
    <div class="black">{{ chess_board[7][6] }}</div>
    <div class="white">{{ chess_board[7][7] }}</div>
</div>

{% if start != True %}
<form action="/play" method="POST">
    <div class="buttons">
        <button class="play_button" type="submit">PLAY</button>
    </div>
</form>
{% else %}
<form action="/again" method="POST">
    <div class="buttons">
        <button class="play_button" type="submit">PLAY</button>
    </div>
</form>
{% endif %}
{% endblock %}